
.timeline-container {
  display:flex;
  justify-content: center;
    width: 80%;
    margin: 50px auto;
    padding: 20px;
    gap: 20px;
  }
  
  h1.Qualification-heading {
    text-align: center;
    font-size: 3vw;
    font-weight: 400;
  }
  
  .timeline {
    position: relative;
    margin-left: 20px;
  }
  
  .timeline-item {
    display: flex;
    align-items: center;
    margin-bottom: 40px;
  }
  
  .timeline-item .timeline-year {
    background-color: #6c757d;
    color: white;
    border-radius: 50%;
    width: 8vw;
    height: 8vw;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 2em;
    margin-right: 20px;
    font-size: 3vw;
  }
  
  .timeline-item .timeline-content {
    border-left: 2px solid #6c757d;
    padding-left: 20px;
  }

  h3.Qualification-name{
    font-size: 2.2vw;
    font-weight: 400;
    line-height: 3;
  }

  p.Qualification-desc{
    font-weight: 300;
    font-size: 1.4vw;
    margin-bottom: 0px;
  }

  p.Qualification-marks{
    font-weight: 100;
    font-size: 1.4vw;
  }

  .Qualification-image {
    width: 300px; /* Or whatever fits your design */
    height: auto;
    object-fit: contain;
    opacity: 0;
    animation: slideInRight 1s ease-out forwards;
    animation-delay: 0.5s;
  }

  @keyframes slideInRight {
    0% {
      opacity: 0;
      transform: translateX(100px);
    }
    100% {
      opacity: 1;
      transform: translateX(0);
    }
  }
  
  